<h4><%= @car.car_name %></h4>
<div class='btn_group'>
  <%= link_to 'Add Log',  new_car_log_path(car_id: @car) , class: 'btn btn-primary btn-small' %>
</div>
<p/>
<table border="1" cellpadding="5" cellspacing="5">
  <tr>
    <th>Date</th>
    <th>Mileage</th>
    <th>Description</th>
    <th>Vendor</th>
    <th>Price</th>
    <th>Action</th>
  </tr>
  <% @car.reload.logs.each do |log| %>
    <tr>
      <td>
        <%= "#{log.date}" %>
      </td>
           <td>
        <%= "#{log.mileage}" %>
      </td>
      <td>
        <%= "#{log.description}" %>
      </td>
      <td>
        <%= "#{log.vendor}" %>
      </td>
      <td>
        <%= "#{number_to_currency(log.price)}" %>
      </td>
      <td>
        <%= link_to '[edit]', edit_car_log_path(@car, log) %>
      </td>
    </tr>
  <% end %>
</table>
<p/>
<h5>Total Expense: <%= "#{number_to_currency(@car.log_total)}" %></h5>

